<h1>Welcome to Rock, Paper, Scissors!</h1>

<ul>
  <li>
    <a href="/play/rock">Play Rock</a>
  </li>

  <li>
    <a href="/play/paper">Play Paper</a>
  </li>

  <li>
    <a href="/play/scissors">Play Scissors</a>
  </li>
</ul>

<!-- <p>Find me in app/views/game/rps.html.erb</p> the below to be found in the path in this note-->
<!-- The logic is in controllers game controller.rb -->
<!-- all view, html, css, will be in views-game-rps.html.erb -->
<!-- config - routes - creates all of URL's for different pages in broweser -->

<p>You played <%= @user_move %>!</p>

<p>The computer played <%= @computer_move %>!</p>

<p>You <%= @result %>!</p>


<!-- <%= .... => these indicate the the ruby code is embedded, that it is erb -->
