<h1>Welcome to Rock, Paper, Scissors!</h1>

<ul>
  <li>
    <a href="/play/rock">Play Rock</a>
  </li>

  <li>
    <a href="/play/paper">Play Paper</a>
  </li>

  <li>
    <a href="/play/scissors">Play Scissors</a>
  </li>
</ul>

<p>You played <span style="color: red;"><%= @user_move %></span>!</p>

<p>Computer played <span style="color: blue;"><%= @computer_move %></span>!</p>

<p><%= @result %></p>
