<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock</title>
<link rel="stylesheet" href="application.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  </head>
  <body>

  </body>
</html>
<div class="col-md-offset-1 col-md-10 text-center">
<h1>Welcome to Rock, Paper, Scissors!</h1>
<h3>1....2.....3.....shoot!</h3>
</div>

<div class="col-md-offset-3 col-md-6">
<form>
<div class="form-group">
<button type="submit" class="btn btn-default btn-block"><a href="/play/rock"><i class="icons fa fa-hand-rock-o"  aria-hidden="true"></i>Play Rock</a></button>
</div>
<div class="form-group">
<button type="submit" class="btn btn-default btn-block"><a href="/play/paper"><i class="icons fa fa-hand-paper-o"  aria-hidden="true"></i>Play Paper</a></button>
</div>
<div class="form-group">
<button type="submit" class="btn btn-default btn-block"><a href="/play/scissors"><i class="icons fa fa-hand-scissors-o"  aria-hidden="true"></i>Play Scissors</a></button>
</div>
</form>
</div>


<div class="col-md-offset-3 col-md-6 text-center">
<h1>Results</h1>

<p>You played <%= @user_move %>.</p>

<p>The computer played <%= @computer_move %>.</p>

<p class="result"><%= @result %>!</p>
</div>
